*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg__btn{
    background-color: rgba(62, 22, 46, 0.862);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
}
body{
    min-height: 100vh;
    background-color: rgb(62, 22, 46);
}


.logo__navbar{
    padding-left: 1rem;
    max-width: 50vw;
    height: 5vh;
}
.logo__navbar img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ancho{
    width: 100%;
}

@media (min-width: 866px){
    .ancho{
        width: 50%;
    }
}